<a href="https://colab.research.google.com/github/Amruth56/oop/blob/main/oop_inheritance_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***OBJECT ORIENTED PROGRAMMING IN PYTHON***

**we ae not using ____init____ variable here**

In [ ]:
class computer:
  def configurations(self):
    print("8gb",'512gb','2.5hz')
  def config2(self):
    print("16gb","512gb","2.2hz")


comp1=computer()
comp2=computer()
computer.configurations(comp1)
computer.config2(comp2)
print("\n")

comp1.configurations()
comp2.config2()
comp1.config2()

8gb 512gb 2.5hz
16gb 512gb 2.2hz


8gb 512gb 2.5hz
16gb 512gb 2.2hz
16gb 512gb 2.2hz

**using  ______init__ variable**

In [ ]:
class computer:
   
  def __init__(self,ram,rom):
     self.ram=ram
     self.rom=rom
    
  def configuration(self) :
    print("configuration is ",self.ram,self.rom)


comp1=computer(8,512)
comp2=computer(16,"1TB")

comp1.configuration()
comp2.configuration()

configuration is  8 512
configuration is  16 1TB

In [ ]:
class personal_info:

  def __init__(self,name,age):
    self.name=name
    self.age=age

  def my_self(self):
    print("my name is",self.name, "and my age is",self.age)

  my1=personal_info("amruth",19)
  my1.my_self()

my name is amruth and my age is 19

In [ ]:
class comp:

  def __init__(self):
    self.name="hp"
    self.age=14

info=comp( )
print(info.name)

hp

In [ ]:
class person:
  name="John"
  age=25
  country="India"

x=getattr(person,'age')
print(x)

25

In [ ]:
x=list(range(2,8,2))
print(x)
res=x[-1]+x[1]
print(res)

[2, 4, 6]
10

In [ ]:
l=[]
print(not l)

True

In [ ]:
str="hello"
print(str[2])
# str[3]="a"

print(str)

l
hello

In [ ]:
myDict={1:"a",2:"b",3:"c",4:"d",5:"e"}
myDict.pop()
print(myDict)

TypeError: ignored

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p1=person("amruth",19)
print(p1.name)
print(p1.age)
print(p1)

amruth
19
<__main__.person object at 0x7f58bf5f5b10>

In [ ]:
class car:
  def __init__(self,model,milage):
    self.model=model
    self.milage=milage

suzuki=car("Swift",30)
honda=car("city",22)
suzuki_1=car("sx4",7)

print(suzuki.model, suzuki.milage)
print(suzuki_1.model,suzuki_1.milage)

Swift 30
sx4 7

In [ ]:
class planet:
  def __init__(self,name,radius,system):
    self.name=name
    self.radius=radius
    self.system=system

  def orbit(self):
    return f"planet {self.name} is in the {self.system} solar"

earth=planet('earth',6379000,'solar')
print(f"planet name is {earth.name}")
print(f"planet radius is {earth.radius}")
print(f"planet is in {earth.system} solar")

print(earth.orbit())

planet name is earth
planet radius is 6379000
planet is in solar solar
planet earth is in the solar solar

In [ ]:
class car:
  def __init__(self,model,color):
    self.model=model
    self.color=color

  def sh(self):
    print(f"car {self.model} color is {self.color}")

audi=car("audi a4","white")
ferrari=car("ferrari 488","red")

audi.sh()
ferrari.sh()

car audi a4 color is white
car ferrari 488 color is red

In [ ]:
class animal:

  def __init__(self,name,type):
    self.name=name
    self.type=type

  def cal(hello):
    print(f"{hello.name} is a {hello.type} animal")

cat=animal("cat","pet")
tiget=animal("tiget","wild")
cow=animal("cow","domestic")

cat.cal()
print(f"{cat.name} can be replaced by a dog")
tiget.cal()
cow.cal()
print(cat.type)

cat is a pet animal
cat can be replaced by a dog
tiget is a wild animal
cow is a domestic animal
pet

In [ ]:
# single inheritance

class parent:
  def show(self):
    print("Parent method")
class Child(parent):
  def display(self):
    print("Child method")
c = Child()
c.display()
c.show()

x=parent()
x.show()

Child method
Parent method
Parent method

In [ ]:
#Multilevel inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(B):
    def methodC(self):
        print("C class")
x = C()
x.methodA()
x.methodB()
x.methodC()

A class
B class
C class

In [ ]:
#Multiple inheritance

class a:
  def method_a(self):
    print( "hello")

class b:
  def method_b(self):
    print("world") 

class c(a,b):
  def method_c(self):
    print("qwerty")

x=c()
x.method_a()
x.method_b()
x.method_c()

hello
world
qwerty

In [ ]:

class Person:
       
    def __init__(self, name):
        self.name = name
   
    # To get name
    def getName(self):
        return self.name
   
    # To check if this person is a student
    def isStudent(self):
        return False
   
# Inherited or Subclass (Note Person in bracket)

class Student(Person):
   
    # Check and return true
    def isStudent(self):
        return True
   
# Driver code
st = Person("OOP Course")  # An Object of Person
print(st.getName(), st.isStudent())
   
st = Student("CSE COurse") # An Object of Student
print(st.getName(), st.isStudent())

OOP Course False
CSE COurse True

In [ ]:
class person:
  def __init__(self,name):
    self.name=name

  def getName(self):
    return self.name

  def isStudent(self):
    return False

class student(person):
  def isStudent(self):
    return True


x=person("Hello")

print(x.getName(),x.isStudent())

y=student("world")

print(y.getName(),y.isStudent())

Hello False
world True

In [ ]:
#Hierarchial inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(A):
    def methodC(self):
        print("C class")
b = B()
c = C()
b.methodA()
c.methodA()

A class
A class

In [ ]:
#Hybrid inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(A):
    def methodC(self):
        print("C class")
class D(B,C):
    def methodD(self):
        print("D class")
d = D()
d.methodA()
d.methodC()

A class
C class

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
  
  def parentName(self):
    print(f"parent name is {self.name}")

class Child(parent):
  def __init__(self,name):
    super().__init__(name)


x=Child("qwerty")
x.parentName()

parent name is qwerty

In [3]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [4]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(sel):
    print("Hello my name is " + sel.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [5]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)
x.printname()

2019
Mike Olsen

In [8]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [12]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019