<a href="https://colab.research.google.com/github/Amruth56/oop/blob/main/oop_inheritance_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***OBJECT ORIENTED PROGRAMMING IN PYTHON***

**we ae not using ____init____ variable here**

In [ ]:
class computer:
  def configurations(self):
    print("8gb",'512gb','2.5hz')
  def config2(self):
    print("16gb","512gb","2.2hz")


comp1=computer()
comp2=computer()
computer.configurations(comp1)
computer.config2(comp2)
print("\n")

comp1.configurations()
comp2.config2()
comp1.config2()

8gb 512gb 2.5hz
16gb 512gb 2.2hz


8gb 512gb 2.5hz
16gb 512gb 2.2hz
16gb 512gb 2.2hz

**using  ______init__ variable**

In [ ]:
class computer:
   
  def __init__(self,ram,rom):
     self.ram=ram
     self.rom=rom
    
  def configuration(self) :
    print("configuration is ",self.ram,self.rom)


comp1=computer(8,512)
comp2=computer(16,"1TB")

comp1.configuration()
comp2.configuration()

configuration is  8 512
configuration is  16 1TB

In [ ]:
class personal_info:

  def __init__(self,name,age):
    self.name=name
    self.age=age

  def my_self(self):
    print("my name is",self.name, "and my age is",self.age)

  my1=personal_info("amruth",19)
  my1.my_self()

my name is amruth and my age is 19

In [ ]:
class comp:

  def __init__(self):
    self.name="hp"
    self.age=14

info=comp( )
print(info.name)

hp

In [ ]:
class person:
  name="John"
  age=25
  country="India"

x=getattr(person,'age')
print(x)

25

In [ ]:
x=list(range(2,8,2))
print(x)
res=x[-1]+x[1]
print(res)

[2, 4, 6]
10

In [ ]:
l=[]
print(not l)

True

In [ ]:
str="hello"
print(str[2])
# str[3]="a"

print(str)

l
hello

In [ ]:
myDict={1:"a",2:"b",3:"c",4:"d",5:"e"}
myDict.pop()
print(myDict)

TypeError: ignored

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p1=person("amruth",19)
print(p1.name)
print(p1.age)
print(p1)

amruth
19
<__main__.person object at 0x7f58bf5f5b10>

In [ ]:
class car:
  def __init__(self,model,milage):
    self.model=model
    self.milage=milage

suzuki=car("Swift",30)
honda=car("city",22)
suzuki_1=car("sx4",7)

print(suzuki.model, suzuki.milage)
print(suzuki_1.model,suzuki_1.milage)

Swift 30
sx4 7

In [ ]:
class planet:
  def __init__(self,name,radius,system):
    self.name=name
    self.radius=radius
    self.system=system

  def orbit(self):
    return f"planet {self.name} is in the {self.system} solar"

earth=planet('earth',6379000,'solar')
print(f"planet name is {earth.name}")
print(f"planet radius is {earth.radius}")
print(f"planet is in {earth.system} solar")

print(earth.orbit())

planet name is earth
planet radius is 6379000
planet is in solar solar
planet earth is in the solar solar

In [ ]:
class car:
  def __init__(self,model,color):
    self.model=model
    self.color=color

  def sh(self):
    print(f"car {self.model} color is {self.color}")

audi=car("audi a4","white")
ferrari=car("ferrari 488","red")

audi.sh()
ferrari.sh()

car audi a4 color is white
car ferrari 488 color is red

In [ ]:
class animal:

  def __init__(self,name,type):
    self.name=name
    self.type=type

  def cal(hello):
    print(f"{hello.name} is a {hello.type} animal")

cat=animal("cat","pet")
tiget=animal("tiget","wild")
cow=animal("cow","domestic")

cat.cal()
print(f"{cat.name} can be replaced by a dog")
tiget.cal()
cow.cal()
print(cat.type)

cat is a pet animal
cat can be replaced by a dog
tiget is a wild animal
cow is a domestic animal
pet

In [ ]:
# single inheritance

class parent:
  def show(self):
    print("Parent method")
class Child(parent):
  def display(self):
    print("Child method")
c = Child()
c.display()
c.show()

x=parent()
x.show()

Child method
Parent method
Parent method

In [ ]:
#Multilevel inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(B):
    def methodC(self):
        print("C class")
x = C()
x.methodA()
x.methodB()
x.methodC()

A class
B class
C class

In [ ]:
#Multiple inheritance

class a:
  def method_a(self):
    print( "hello")

class b:
  def method_b(self):
    print("world") 

class c(a,b):
  def method_c(self):
    print("qwerty")

x=c()
x.method_a()
x.method_b()
x.method_c()

hello
world
qwerty

In [ ]:

class Person:
       
    def __init__(self, name):
        self.name = name
   
    # To get name
    def getName(self):
        return self.name
   
    # To check if this person is a student
    def isStudent(self):
        return False
   
# Inherited or Subclass (Note Person in bracket)

class Student(Person):
   
    # Check and return true
    def isStudent(self):
        return True
   
# Driver code
st = Person("OOP Course")  # An Object of Person
print(st.getName(), st.isStudent())
   
st = Student("CSE COurse") # An Object of Student
print(st.getName(), st.isStudent())

OOP Course False
CSE COurse True

In [ ]:
class person:
  def __init__(self,name):
    self.name=name

  def getName(self):
    return self.name

  def isStudent(self):
    return False

class student(person):
  def isStudent(self):
    return True


x=person("Hello")

print(x.getName(),x.isStudent())

y=student("world")

print(y.getName(),y.isStudent())

Hello False
world True

In [ ]:
#Hierarchial inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(A):
    def methodC(self):
        print("C class")
b = B()
c = C()
b.methodA()
c.methodA()

A class
A class

In [ ]:
#Hybrid inheritance

class A:
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        print("B class")
class C(A):
    def methodC(self):
        print("C class")
class D(B,C):
    def methodD(self):
        print("D class")
d = D()
d.methodA()
d.methodC()

A class
C class

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
  
  def parentName(self):
    print(f"parent name is {self.name}")

class Child(parent):
  def __init__(self,name):
    super().__init__(name)


x=Child("qwerty")
x.parentName()

parent name is qwerty

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(sel):
    print("Hello my name is " + sel.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)
x.printname()

2019
Mike Olsen

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [ ]:
class A:
    x=100
    def methodA(self):
        print("A class")
class B(A):
    def methodB(self):
        super().methodA()
        print("B class")
        print(super().x)
b = B()
b.methodB()

B class
100

In [ ]:
class Person:    
        # __init__ is known as the constructor         
        def __init__(self, name, idnumber):   
                self.name = name
                self.idnumber = idnumber
        def display(self):
                print(self.name)
                print(self.idnumber)
# child class
class Student( Person ):           
        def __init__(self, name, idnumber, deptid,state):
                self.deptid = deptid
                self.state = state
  
                # invoking the __init__ of the parent class 
                Person.__init__(self, name, idnumber)

        def qwe(self) :
          print(f"{self.name} your id number is as follows {self.idnumber}, {self.deptid}   {self.state}")
  
# creation of an object variable or an instance
st = Student('Ram',"2020BCS001", "ECE100", "KA")    
  
# calling a function of the class Person using its instance
st.display() 

st.qwe()

Ram
2020BCS001
Ram your id number is as follows 2020BCS001, ECE100   KA

In [ ]:
class A(object):
      def __init__(self,n):
              self.name = n
class B(A):
      def __init__(self,roll,n):
              self.roll = roll

              A.__init__(self,n)      #  if this is removed, it gives an error              
  
course = B("OOP Course",200)
print (course.name)

200

In [ ]:
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])

In [ ]:
class Triangle(Polygon):
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of the triangle is %0.2f' %area)

t = Triangle()
t.inputSides()
t.dispSides()
t.findArea()

Enter side 1 : 5
Enter side 2 : 5
Enter side 3 : 5
Side 1 is 5.0
Side 2 is 5.0
Side 3 is 5.0
The area of the triangle is 10.83

In [8]:
class Player:
    MAX_POSITION = 10     # Class attribute   
    def __init__(self):
      self.position = 0 
print(Player.MAX_POSITION)    # instance accessing Class attribute
# Create a player p and print its MAX_POSITITON
p = Player()
print(p.MAX_POSITION)

10
10

In [9]:
class Player:
    MAX_POSITION = 10     # Class attribute   
    def __init__(self):
      self.position = 0
class Racer(Player):
    MAX_SPEED = 5      # adding attributes to Child Class
p = Player()
r = Racer()
# What is the output? 
# print("p.MAX_SPEED = ", p.MAX_SPEED)  
print("r.MAX_SPEED = ", r.MAX_SPEED)
print("p.MAX_POSITION = ", p.MAX_POSITION)
print("r.MAX_POSITION = ", r.MAX_POSITION)

r.MAX_SPEED =  5
p.MAX_POSITION =  10
r.MAX_POSITION =  10

In [3]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary
    def give_raise(self, amount):
        self.salary += amount        
class Manager(Employee):
    def display(self):
        print("Manager ", self.name)
    def __init__(self, name, salary=50000, project=None):
        Employee.__init__(self, name, salary)
        self.project = project
    def give_raise(self, amount, bonus=1.05): # Add a give_raise method
        new_amount = amount * bonus
        Employee.give_raise(self, new_amount)  # what is the diff?
mngr = Manager("Ram", 78500)
mngr.give_raise(1000)
print(mngr.salary)   # what is the output?
mngr.give_raise(2000, bonus=1.03)
print(mngr.salary)

79550.0
81610.0

In [4]:
class MyDate:
    def __init__(self, year, month, day):     # Constructor
      # Python allows multiple variable assignments in one line
      self.year, self.month, self.day = year, month, day    
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
    # Split the string at "-" and  convert each part to integer
        parts = datestr.split("-")
        year, month, day = int(parts[0]), int(parts[1]), int(parts[2])
        return cls(year, month, day)       # Return the class instance  
bd = MyDate.from_str('2021-09-08')   
print(bd.year)
print(bd.month)
print(bd.day)

2021
9
8

In [5]:
class Employee:
  MIN_SALARY = 30000    
  def __init__(self, name, salary=MIN_SALARY):
      self.name = name
      if salary >= Employee.MIN_SALARY:
        self.salary = salary
      else:
        self.salary = Employee.MIN_SALARY
  def give_raise(self, amount):
      self.salary += amount        
# Define a new class Manager inheriting from Employee
class Manager(Employee):
  pass
# Define a Manager object or child class 
mng = ?
# Print mng's name
print(mng.name)

SyntaxError: ignored

In [6]:

class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary
    def give_raise(self, amount):
        self.salary += amount        
class Manager(Employee):
  # Add a constructor 
    def __init__(self, name, ____, ____):
        # Call the parent's constructor   
        ____.____(____, ____, salary)
        # Assign project attribute
        ____ 
    def display(self):
        print("Manager ", self.name)

SyntaxError: ignored

In [14]:
class ppl():
  def __init__(self,name,age):
    self.name=name
    self.age=age

c1=ppl("abi",16)
c2=ppl("Max",16)

def compare(c1,c2):
  if c1.age==c2.age:
    print("Both are of the same age ")
  else:
    None


compare(c1,c2)

Both are of the same age