<a href="https://colab.research.google.com/github/Amruth56/oop/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fact(n):
  num=1
  for i in range (n):
    num=num*(i+1)
  return num
a=int(input("enter a number of which you wanna fing the factorial :"))
print(fact(a))

enter a number of which you wanna fing the factorial :5
120

In [ ]:
a=int(input("enter the number :"))
i=10
while i>=1:
  print(a,"x",i,"=",a*i)
  i=i-1

enter the number :4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

In [ ]:
a=int(input("enter the number "))
for i in range (1,11):
  print(a,"x",i,"=",a*i)

enter the number 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
a=int(input("enter the first number "))
b=int(input("enter the second number "))
c=int(input("enter the third number "))
if (a>b and a>c):
  print(a,"is the greatest number")
if(b>a and b>c):
  print(b,"is the greatest number")
else:
  print(c,"is the greatest number")

enter the first number 9
enter the second number 11
enter the third number 3
11 is the greatest number

In [ ]:
#to convert temperature from celcius to fahrenheit
def temp(c):
  f=(c*(9/5))+32
  return f

a=int(input("enter the temperature in celcius :"))
print(temp(a))

enter the temperature in celcius :27
80.6

In [ ]:
#to print the sum of first n natural number
n=int(input("enter the number"))
sum=n*(n+1)/2
print(sum)

enter the number10
55.0

In [ ]:
# to print the sum of n natural number
num=int(input("enter the number :"))
# num=10
if num<0:
  print("enter a positive number")
else:
  sum=0

  while(num>0):
    sum += num
    num -= 1
    print(sum)

10
19
27
34
40
45
49
52
54
55

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
# use of end function
print("hello", end=" ")
print("how", end=" ")
print("are",end=" ")
print("you", end=" ")

hello how are you

In [ ]:
# sum of n natural n umber using for loop
n=int(input("enter the number"))
sum=0

for i in range(1,n+1):
  sum=sum+i
  print(sum)

enter the number10
1
3
6
10
15
21
28
36
45
55

In [ ]:
#programme to convet inches to centimetre
inch=int(input("enter the length in inches "))
cm=inch*2.54
print(cm)

enter the length in inches10
25.4

In [ ]:
# programme to convert centimetre to inch
def centi(c):
  inch=c/2.54
  return inch

a=centi(172)
print(a)

67.71653543307086

In [ ]:
n=6
for i in range(n):
   print("*" * (i))

*
**
***
****
*****

In [ ]:
n=5
for i in range (n):
  print("*"*(n-i))

*****
****
***
**
*

In [ ]:
print("hello")

hello

In [ ]:
# TO check whether string object can b interpreted or not
string='copyassignments.com'
for i in range(string):
  print(i)

TypeError: ignored

In [ ]:
print('\U0001F917')
print('\U0001F637')
print('\U0001F62A')
print("\U0001F600")

ðŸ¤—
ðŸ˜·
ðŸ˜ª
ðŸ˜€

In [ ]:
a='example'
print(a.find('m'))

3

In [ ]:
a=123
def fun():
  a=[]
print(type(a))

<class 'int'>

In [ ]:
# multiplication table
n=int(input("enter the number :"))
for i in range(1,11):
  print(n,"x",i,"=",((n)*i))

enter the number :17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

In [ ]:
a="iiit dwd"
print(a.upper())

IIIT DWD

In [ ]:
a="HELLO "
print(a.lower())

hello

In [ ]:
a="iiit dwd"
print(a.split('i'))

['', '', '', 't DWD']

In [ ]:
a = int(input("Enter a number: "))
if a > 0:
   print("Its a Positive number")
elif a == 0:
   print("Its a Zero")
else:
   print("Its a Negative number")

Enter a number: -2
Its a Negative number

In [ ]:
a=int(input("enter your age :"))
b=input("enter your country name :")
if a>34 and b=="india":
  print("you are eligible to contest")
else:
  print("you are not eligible")

enter your age :56
enter your country name :india
you are eligible to contest

In [ ]:
a = [11,44,22,66,55,77,99,88,33]
a.sort()
print('List in Ascending Order: ', a)

a.sort(reverse=True)
print('List in Descending Order: ', a)
print(max(a))
print(min(a))

List in Ascending Order:  [11, 22, 33, 44, 55, 66, 77, 88, 99]
List in Descending Order:  [99, 88, 77, 66, 55, 44, 33, 22, 11]
99
11

In [ ]:
a=['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
print(a[0],a[1],a[5],a[6])
a.insert(7,"qwerty")
print(a)
del a[1]
print(a)
a.insert(len(a),5)
print(a)

sunday monday friday saturday
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'qwerty']
['sunday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'qwerty']
['sunday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'qwerty', 5]

In [ ]:
dict={"brand":"suzuki", "model":"sx4","year":1999}
for key,value in dict.items():
  print(key,"\t")
for key,values in dict.items():
  print(value," ")
for key,values in dict.items():
  print(key,value)

brand
model
year
1999
1999
1999
brand 1999
model 1999
year 1999

In [ ]:
year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("%d is a leap year"%year)
       else:
           print("%d is not a leap year"%year)
   else:
       print("%d is a leap year"%year)
else:
   print("%d is not a leap year"%year)

Enter a year: 2000
2000 is a leap year

In [ ]:
n = int(input("enter the number :"))
if n % 2 == 1:
    print("Weird")
elif n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

enter the number :990
Not Weird

In [ ]:
party = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
name = 'Adela'
index = party.index(name)
def f(x):
  if index >= len(party)/2 and index != len(party)-1:
    print("Fashionably late")
  else:
    return false
    f(x)

In [ ]:
Basic_pay=int(input("enter the basic saler :"))
HRA= Basic_pay * (20/100)
DA= Basic_pay*(40/100)
GROSS_PAY = HRA + DA + Basic_pay
print(GROSS_PAY)

enter the basic saler :20000
32000.0