<a href="https://colab.research.google.com/github/Amruth56/oop/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fact(n):
  num=1
  for i in range (n):
    num=num*(i+1)
  return num
a=int(input("enter a number of which you wanna fing the factorial :"))
print(fact(a))

enter a number of which you wanna fing the factorial :5
120

In [ ]:
a=int(input("enter the number :"))
i=10
while i>=1:
  print(a,"x",i,"=",a*i)
  i=i-1

enter the number :4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

In [ ]:
a=int(input("enter the number "))
for i in range (1,11):
  print(a,"x",i,"=",a*i)

enter the number 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
a=int(input("enter the first number "))
b=int(input("enter the second number "))
c=int(input("enter the third number "))
if (a>b and a>c):
  print(a,"is the greatest number")
if(b>a and b>c):
  print(b,"is the greatest number")
else:
  print(c,"is the greatest number")

enter the first number 9
enter the second number 11
enter the third number 3
11 is the greatest number

In [ ]:
#to convert temperature from celcius to fahrenheit
def temp(c):
  f=(c*(9/5))+32
  return f

a=int(input("enter the temperature in celcius :"))
print(temp(a))

enter the temperature in celcius :27
80.6

In [ ]:
#to print the sum of first n natural number
n=int(input("enter the number"))
sum=n*(n+1)/2
print(sum)

enter the number10
55.0

In [ ]:
# to print the sum of n natural number
num=int(input("enter the number :"))
# num=10
if num<0:
  print("enter a positive number")
else:
  sum=0

  while(num>0):
    sum += num
    num -= 1
    print(sum)

10
19
27
34
40
45
49
52
54
55

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
# use of end function
print("hello", end=" ")
print("how", end=" ")
print("are",end=" ")
print("you", end=" ")

hello how are you

In [ ]:
# sum of n natural n umber using for loop
n=int(input("enter the number"))
sum=0

for i in range(1,n+1):
  sum=sum+i
  print(sum)

enter the number10
1
3
6
10
15
21
28
36
45
55

In [ ]:
#programme to convet inches to centimetre
inch=int(input("enter the length in inches "))
cm=inch*2.54
print(cm)

enter the length in inches10
25.4

In [ ]:
# programme to convert centimetre to inch
def centi(c):
  inch=c/2.54
  return inch

a=centi(172)
print(a)

67.71653543307086

In [ ]:
n=6
for i in range(n):
   print("*" * (i))

*
**
***
****
*****

In [ ]:
n=5
for i in range (n):
  print("*"*(n-i))

*****
****
***
**
*

In [ ]:
print("hello")

hello

In [ ]:
string='copyassignments.com'
for i in range(string):
  print(i)

TypeError: ignored

In [ ]:
print('\U0001F917')
print('\U0001F637')
print('\U0001F62A')
print("\U0001F600")

🤗
😷
😪
😀

In [ ]:
a='example'
print(a.find('m'))

3

In [ ]:
a=123
def fun():
  a=[]
print(type(a))

<class 'int'>

In [2]:
# multiplication table
n=int(input("enter the number :"))
for i in range(1,11):
  print(n,"x",i,"=",((n)*i))

enter the number :17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170